<!DOCTYPE html>
<html>
<head>
	<title></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<div id='background'>
	<%= video_tag "home.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
	<div id='logo'>Clonblr</div>
	<div id='tagline'>a tumblr clone site</div>
	<a href='/users/new'><div id="loginButton">Get Started</div></a>
	<div id="signinButton">Login</div>
	</div>
</body>
</html>	