<!DOCTYPE html>
<html>
<head>
	<title>asdfasdfasdf</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<div id='background'>
	<%= video_tag "home.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>

	<div id='logo'>Clonblr</div>
	<div id='tagline'>a tumblr clone site</div>
	<div class="homeButton">Get Started</div>
	<div class="homeButton">Login</div>
	</div>


	
</body>
</html>	