@import 'mixins';

#postPage_wrapper{
	width:100%;
	height: 100vh;
	background-image: url('wov.png');
	font-family: 'Quicksand', sans-serif;
    overflow: auto;
}
#not_here{
	margin-top:130px;
	margin-left:180px;
	width: 70%;
	float: left;
	font-size: 30px;
	font-weight: 700;

}

#postPage_column{
	margin-top:130px;
	margin-left:180px;
	width: 70%;
	float: left;
}

#article_title,{
	font-size: 50px;
	font-weight: 700;
}

#article_meda{
	color: grey;
	margin-bottom:20px;
	font-size: 14px;
}

#article_meda a:visited { 
    color: grey;
}

.comment_meta a:visited { 
    color: grey;
}

#article_text{
	margin-bottom:10px;
	font-size: 20px;
}

#article_tag{
	margin-bottom:10px;
	color: grey;
}

#article_edit_form{
    background-color:white;
	width:50%;
    height: 70vh;
    margin: 100px auto;
    overflow: scroll;
}

#edit_form_wrapper{
	visibility: hidden;
	width: 100%;
	height: 100vh;
	position:fixed;
	z-index:2;
	display:block;
	background-color: rgba(0,0,0,0.7);	
	top:0;
	left:0;
}

#article_edit{
   position: relative;
   top: 30px;
   left: 60px; 
}

#article_update_icon{
   margin-bottom:1vh;
   cursor: pointer;
}

#comment_create_form{
	display:none;
}

#comment_create_icon{
	font-size:20px;
	height:50px;
	// margin-right:10px;
	vertical-align: top;
	display:inline-block;
}
#comment_create_gear{
	cursor: pointer;
	height:25px;
	// vertical-align: center;
}

#comment_count{
   color:grey;
}

.post_edit_input{
	@include inputBox; 
	width:80%;
}

.post_new_text{
	@include inputBox;
	width:80%;
	height:30vh;
    resize: vertical;
    line-height:20px;

}

.post_delete_botton{
	@include formButton;
	width: 30%;
	color: white;
	background-color: red;
	// display:inline-block;
	float:left;
	// margin-left:55%;
}

.post_edit_botton{
	width: 30%;
	float:left;
	@include formButton;
	color: white;
	background-color: green;
}
 
 #cancel_edit_botton{
 	width: 30%;
 	float:left;
	@include formButton;
	color: white;
	background-color: grey;
 }

 .comment_text{
 	margin-top:30px;
 	font-size:18px;
 }

.comment_meta{
	color: grey;
	margin-bottom:20px;
	font-size: 14px;
}

.comment_new_text, .comment_update_text{
	@include inputBox;
	width:45vw;
	height:20vh;
	resize:none;
	text-align: bottom;	
}

.new_comment_form, .update_comment_botton{
	display: inline-block;
}

.comment_new_save, .comment_update_save, .comment_delete{
	// height:20vh;
	@include formButton;
	width:150px;
	vertical-align:bottom;
	background-color:green;
	color: white;
}

.comment_delete{
	background-color:red;
	}

.comment_update_form{
	display: none;
}

.comment_update_icon:hover{
	cursor: pointer;
}



